@model SGVRestaurantProject.ViewModels.LoginDetailsViewModel


<div class="bg-light py-2 mb-2">
    <h1 style="text-align: center">SIGN IN</h1>
</div>
<br />

<div class="row justify-content-center">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="UserId">UserID:</label>
                <input asp-for="UserId" class="form-control" required>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="EmailAddress">Email:</label>
                <input asp-for="EmailAddress" class="form-control" required>
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Sign in</button>
                <a asp-controller="Accounts" asp-action="Register" class="btn btn-primary">Sign up</a>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
        </form>
    </div>
</div>
