@page
@model SGVRestaurantProject.Areas.Identity.Pages.Account.Manage.BookingsManageModel
@{
   
}

<a class="btn btn-primary" asp-controller="Bookings" asp-action="UserIndex" asp-route-userName="@User.Identity.Name">Manage Bookings</a>
