html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.navbar-brand {
    font-family: 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    line-height: 1;
    margin-top: 8px;
    margin-bottom: 8px;
}

.navbar-brand:hover {
    transform: scale(1.10);
    box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.6);
    transition: 0.3s ease;
}

#register, #login {
    font-family: 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    line-height: 1;
    margin-top: 8px;
    margin-bottom: 8px;
}

#register:hover, #login:hover {
    transform: scale(1.10);
    box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.6);
    transition: 0.3s ease;
}

h1, h2 {
    color: rgba(000,000,000, 0.6);
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 40px;
    letter-spacing: -1px;
    line-height: 1;
    margin-top: 40px;
    margin-bottom: 20px;
}

body {
    margin-bottom: 60px;
    background-color: whitesmoke;
}

.card {
    border: 1px solid grey;
}

.card-body {
    background-color: rgba(211,211,211, 0.8);
    font-family: 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    line-height: 1;
}

.btn {
    background-color: whitesmoke;
    border: 1px solid grey;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 3px;
}

.btn:hover {
    background-color: grey;
    color: white;
}

#registerAccountH2 {
    margin-left: 45px;
}

#registerSubmit {
    background-color: whitesmoke;
    border: 1px solid grey;
    margin-top: 5px;
    margin-bottom: 10px;
}

#registerSubmit:hover {
    background-color: grey;
    color: white;
}


#loginAccountH2 {
    margin-left: 200px;
}

#manage {
    margin-right: 20px;
    margin-top: 7px;
}

.nav-link.text-light {
    font-family: 'Helvetica Neue', sans-serif;
}

#profile, #email, #change-password, #personal-data {
    color: black;
}

.display-5.fw-bold {
    color: white;
}