@model SGVRestaurantProject.Models.Booking

@{
    ViewData["Title"] = "Make a Reservation";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group p-1">
                <label asp-for="SittingId" class="control-label">Sitting times</label>
                <select asp-for="SittingId" class="form-control" asp-items='ViewBag.SittingId'></select>
            </div>
            <div class="form-group p-1">
                <label asp-for="DefaultUserId" class="control-label">Customer ID</label>
                <select asp-for="DefaultUserId" class="form-control form-control-plaintext visually-hidden" asp-items="ViewBag.DefaultUserId"></select>
                <text class="form-control-plaintext">@ViewBag.UserName</text>
            </div>
            <div class="form-group p-1">
                @*<a href="c:\users\mnguy\onedrive\documents\github\sgv-restaurant\sgvrestaurantproject\views\bookings\create.cshtml">c:\users\mnguy\onedrive\documents\github\sgv-restaurant\sgvrestaurantproject\views\bookings\create.cshtml</a>*@
                <label asp-for="RestaurantId" class="control-label">Restaurant Name</label>
                <select asp-for="RestaurantId" class="form-control form-control-plaintext visually-hidden" asp-items="ViewBag.RestaurantId"></select>
                <text class="form-control-plaintext">@ViewBag.RestaurantName</text>
            </div>
            <div class="form-group p-1">
                @*<a href="c:\users\mnguy\onedrive\documents\github\sgv-restaurant\sgvrestaurantproject\views\bookings\create.cshtml">c:\users\mnguy\onedrive\documents\github\sgv-restaurant\sgvrestaurantproject\views\bookings\create.cshtml</a>*@
                <label asp-for="BanquetMenuID" class="control-label">Banquet Name</label>
                <select asp-for="BanquetMenuID" class="form-control form-control-plaintext" asp-items="ViewBag.BanquetList"></select>
                
            </div>


            <div class="form-group p-1">
                <label asp-for="NumberOfGuests" class="control-label">Number Of Guests</label>
                <input asp-for="NumberOfGuests" class="form-control" placeholder="Enter number of guests.." value="ViewBag.numberOfGuests">
            </div>
            <div class="form-group p-1">
                <label asp-for="BookingDate" class="control-label">Booking Date</label>
                <input asp-for="BookingDate" class="form-control" id="datepicker" value="@ViewBag.bookingDate" readonly>
            </div>
            <div class="form-group p-1">
                <label asp-for="Completed" class="control-label">Completed</label>
                <select asp-for="Completed" class="form-control">
                    <option value="">Booking Status</option>
                    <option value="No">No</option>
                    <option value="Yes">Yes</option>
                    </select>
            </div>
            <div class="form-group mt-2 p-1">
                <input type="submit" value="Create" class="btn" />
            </div>
        </form>
    </div>
    <div class="col-md-6 mx-auto">
        <hr />
        <img src="https://haveaseat.com.au/wp-content/uploads/2022/05/image-006.jpg"
            alt="Table at a fine dining restaurant"
            title="Table at a fine dining restaurant"
            class="img-fluid rounded"/>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('#datepicker').datepicker({
                format: 'yyyy-mm-dd', // Adjust the format as needed
                autoclose: true,
                startDate: 'today'
            });
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.10.0/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
