@model SGVRestaurantProject.Models.BanquetMenu

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BanquetMenu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BanquetName" class="control-label">Banquet Name</label>
                <input asp-for="BanquetName" class="form-control" />
                <span asp-validation-for="BanquetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestaurantId" class="control-label">Restaurant Name</label>
                <select asp-for="RestaurantId" class="form-control" asp-items="ViewBag.RestaurantList" />
                <span asp-validation-for="RestaurantId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BanquetCost" class="control-label">Banquet Cost</label>
                <input asp-for="BanquetCost" class="form-control" />
                <span asp-validation-for="BanquetCost" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="BanquetAvailability" /> @Html.DisplayNameFor(model => model.BanquetAvailability)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
