@model SGVRestaurantProject.Models.BanquetMenu

@{
    ViewData["Title"] = "Create";
}

<div class="row justify-content-center">
    <div class="col-md-4">
        <h1 id="createBanquetH1">Create a Banquet</h1>

        <hr />

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BanquetName" class="control-label">Banquet Name</label>
                <input asp-for="BanquetName" class="form-control" />
                <span asp-validation-for="BanquetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestaurantId" class="control-label">Restaurant Name</label>
                <select asp-for="RestaurantId" class="form-control" asp-items="ViewBag.RestaurantList"></select>
                <span asp-validation-for="RestaurantId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BanquetCost" class="control-label">Banquet Cost</label>
                <input asp-for="BanquetCost" class="form-control" />
                <span asp-validation-for="BanquetCost" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label" style="margin-top: 15px;">
                    <input class="form-check-input" asp-for="BanquetAvailability" style="margin-bottom: 15px;"/> Banquet Availability @*@Html.DisplayNameFor(model => model.BanquetAvailability)*@
                </label>
            </div>
            <div class="form-group">
                <input class="btn" type="submit" value="Create"/>
                <a class="btn" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
