@model SGVRestaurantProject.Models.BanquetMenu

@{
    ViewData["Title"] = "Details";

}

<div class="row justify-content-center">
    <div class="col-md-8">
        <h1 style="margin-left: 270px;">Banquet Details</h1>
        <hr>

        <div class="col-8" style="margin-left: 150px;">
            <table class="table">
                <thead>
                    <tr>
                        <th>Banquet Name</th>
                        <th>Restaurant id</th>
                        <th>Cost</th>
                        <th>Avaliability</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.BanquetName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.RestaurantId)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.BanquetCost)
                        </td>
                        <td>
                            @if (Model.BanquetAvailability == true)
                            {
                                <p>Avaliable</p>
                            }
                            else
                            {
                                <p>Not currently avaliable</p>
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            @* <a class="btn btn-outline-primary" asp-controller="MenuItems" asp-action="Create">Add menu items</a>  *@
            <a class="btn" asp-action="Edit" asp-controller="BanquetAndMenuItems" asp-route-id="@Model?.BanquetId">Edit details</a>
            <a class="btn" asp-controller="BanquetAndMenuItems" asp-action="Index" asp-route-banquetId="@Model?.BanquetId">Edit Items</a>
            <a class="btn" asp-action="Index">Back to List</a>
        </div>
    </div>
</div>


