@model SGVRestaurantProject.Models.ViewModel.BanquetMenuViewModel

@{
    ViewData["Title"] = Model.BanquetName;
}

<h1>Editing : @Model.BanquetName</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Menu item
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var menuItem in Model.MenuItems)
        {
            <tr>
                <td>@menuItem.ItemName</td>
                <td>
                    <a class="btn btn-outline-danger" asp-action="DeleteBanquetMenuItem" asp-route-banquetId="@Model.BanquetId" asp-route-itemId="@menuItem.ItemId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>