@model SGVRestaurantProject.Models.BanquetMenu

@{
    ViewData["Title"] = "Edit";
}

<h1>EDIT BANQUET DETAILS</h1>

@* <h4>BanquetMenu</h4> *@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BanquetId" />
            <div class="form-group">
                <label asp-for="BanquetName" class="control-label">Banquet name</label>
                <input asp-for="BanquetName" class="form-control" />
                <span asp-validation-for="BanquetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestaurantId" class="control-label">Restaurant</label>
                <input asp-for="RestaurantId" class="form-control" />
                <span asp-validation-for="RestaurantId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BanquetCost" class="control-label">Cost</label>
                <input asp-for="BanquetCost" class="form-control" />
                <span asp-validation-for="BanquetCost" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="BanquetAvailability" /> @Html.DisplayNameFor(model => model.BanquetAvailability)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-primary mt-2" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
