@model SGVRestaurantProject.Models.Restaurant

@{
    ViewData["Title"] = "Delete";
}

<div class="row justify-content-center">
    <div class="col-md-8">

        <h1 id="h1CSS">Are you sure you want to delete this restaurant?</h1>
        <hr />

        <div id="tableCSS" class="col-4">
            <table class="table">
                <thead>
                    <tr>
                        <th>Restaurant Name</th>
                        <th>Restaurant Address</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.RestaurantName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.RestaurantAddress)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <form asp-action="Delete">
            <input type="hidden" asp-for="RestaurantId" />
            <input class="btn" type="submit" value="Delete" />
            <a class="btn" asp-action="Index">Back to List</a>
        </form>
    </div>
</div>
