@model IEnumerable<SGVRestaurantProject.Models.Restaurant>

@{
    ViewData["Title"] = "Restaurant Page";
}

<div class="text-center">
    <h2>SVG RESTAURANTS</h2>
</div>
<br />

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col text-center">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body" style="height: 400px">
                <h5 class="card-title text-center">BAMBOOLEAF</h5>
                <p class="card-text">Modern Asian Fusion in the heart of Adelaide.</p>
                <a asp-controller="Restaurants" asp-action="Details" asp-route-id="1" class="btn btn-primary">Details</a>
            </div>
        </div>
    </div>
    <div class="col text-center">
        <div class="card" style="height: 426px">
            <img src="" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">MEXIKANA</h5>
                <p class="card-text">Korean Mexican fusion for the hipsters.</p>
                <a asp-controller="Restaurants" asp-action="Details" asp-route-id="3" class="btn btn-primary">Details</a>
            </div>
        </div>
    </div>
    <div class="col text-center">
        <div class="card" style="height: 426px">
            <img src="..." class="card-img-top" alt="...">  
            <div class="card-body">
                <h5 class="card-title">LA OESTE DE LA MAR</h5>
                <p class="card-text">Vibrant Brazilian in the heart of Adelaide.</p>
                <a asp-controller="Restaurants" asp-action="Details" asp-route-id="2" class="btn btn-primary">Details</a>
            </div>
        </div>
    </div>
</div>
<br />
