@model SGVRestaurantProject.Models.BanquetAndMenuItem

@{
    ViewData["Title"] = "Adding to banquet";
}
@functions {
    public string GetRestaurantNameForBanquet(string banquetId)
    {
        return "";
    }
}


<h2>Banquet and Menu Items Management</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <h3>Item Name: @ViewBag.ItemName</h3>
            </div>
            <div class="form-group">
                <label asp-for="BanquetId" class="control-label">Banquet List</label>
                <select asp-for="BanquetId" class="form-control">
                    <option value="" hidden>Select a Banquet</option>
                    @foreach (var item in ViewBag.BanquetId)
                    {
                        <option value="@item.Value"> @item.Text</option>
                    }
                </select>

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}