@model SGVRestaurantProject.Models.BanquetAndMenuItem

@{
    ViewData["Title"] = "Delete";
}

<div class="row justify-content-center">
    <div class="col-md-9">
        <h1>Are you sure you want to delete this Banquet Menu Item?</h1>
        <hr />

        <div style="margin-left: 240px;" class="col-4">
            <table class="table">
                <thead>
                    <tr>
                        <th>Banquet</th>
                        <th>Item</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Item)
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => model.Item)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <form asp-action="Delete">
            <input type="hidden" asp-for="BanquetAndMenuItemsId" />
            <input type="submit" value="Delete" class="btn" />
            <a class="btn" asp-controller="BanquetAndMenuItems" asp-action="Index" asp-route-banquetId="@Model.Banquet.BanquetId">Back to List</a>

        </form>
    </div>
</div>


    
