@model SGVRestaurantProject.Models.BanquetAndMenuItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BanquetAndMenuItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Banquet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Banquet.BanquetId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item.ItemId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BanquetAndMenuItemsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
