@model SGVRestaurantProject.Models.BanquetAndMenuItem

@{
    ViewData["Title"] = "Details";
}

<div class="row justify-content-center">
    <div class="col-md-8">
        <h1 style="margin-left: 170px;">Banquet Menu Item Details</h1>
        <hr />

        <div class="col-4">
            <table class="table" style="margin-left: 200px;">
                <thead>
                    <tr>
                        <th>Banquet</th>
                        <th>Item</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Item)

                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Item.ItemId)

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a class="btn" asp-action="Edit" asp-route-id="@Model?.BanquetAndMenuItemsId">Edit</a>
        <a class="btn" asp-controller="BanquetAndMenuItems" asp-action="Index" asp-route-banquetId="@Model.Banquet.BanquetId">Back to List</a>
    </div>
</div>

