@model SGVRestaurantProject.ViewModels.BookingDetailViewModel


<div class="bg-light py-2 mb-2">
    <h2>Booking Times</h2>
</div>

<form method="post" asp-controller="BookingTimes" asp-action="Index">
    <div class="row mb-3">
        <div class="col-4">
            <select name="sittingTimes" asp-items="@Model.SittingTimes" class="form-select">
                <option value="">Select a time slot...</option>
            </select>
        </div>
        <div class="col-4">
            <select name="banquets" asp-items="@Model.Banquets" class="form-select">
                <option value="">Select a banquet...</option>
            </select>
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-outline-primary">Submit</button>
        </div>
    </div>
</form>



